 <launch>
    <arg name="record" default="false"/>
    <arg name="record_time" default="30"/>
    <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
    </include>
    <node 
        pkg="turtlebot_walker" 
        name="walker"
        type="walker" 
        output="screen" 
        launch-prefix="gnome-terminal --command"
     />
    <node
        pkg="rosbag"
        name="rosbag_recorder"
        type="record" 
        args="--all -o $(find turtlebot_walker)/results/walkerRecord -x /camera/(.*) --duration=$(arg record_time)" 
        if="$(arg record)"    
    />
</launch>